# Book metadata providers
RAKUTEN_APP_ID=
RAKUTEN_ACCESS_KEY=
GOOGLE_API_KEY=
LABOOK_OUTBOUND_ALLOWLIST=ndlsearch.ndl.go.jp,openapi.rakuten.co.jp,www.googleapis.com,thumbnail.image.rakuten.co.jp,books.google.com

# Notion integration
NOTION_TOKEN=
NOTION_DATABASE_ID=

# Slack incoming webhook
SLACK_WEBHOOK_URL=
