[Unit]
Description=laBook subapp for backup and Slack notifications
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pdlab
Group=pdlab
WorkingDirectory=/home/pdlab/labook
ExecStart=/home/pdlab/labook/venv/bin/python /home/pdlab/labook/subapp.py
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
